{{!-- Local reusable block replicating templates/parts/turf-header.html (not edited directly --
     see module/blades-item-sheet-v2.js / this file's header comment for why it's inlined here). --}}
{{#*inline "turfHeader"}}
{{#if header.name}}
{{#with header}}
<div class="turf-header" data-header-id="{{../header_id}}">
  <div class="turf-header-title">
    <span class="turf-header-unlock {{#if value}}unlocked{{/if}}" data-header-id="{{../header_id}}"
      title="Unlock"></span>
    {{#if ../can_edit}}
    <input class="turf-header-name" type="text" name="system.turf_headers.{{../header_id}}.name" value="{{name}}">
    {{else}}
    <span class="turf-header-name">{{localize name}}</span>
    {{/if}}
  </div>

  {{#if unlock}}
  <div class="turf-header-unlock-text">
    {{#if ../can_edit}}
    <input type="text" name="system.turf_headers.{{../header_id}}.unlock" value="{{unlock}}">
    {{else}}
    {{unlock}}
    {{/if}}
  </div>
  {{/if}}

  {{#if subheader}}
  <div class="turf-header-subheader">
    {{#if ../can_edit}}
    <input type="text" name="system.turf_headers.{{../header_id}}.subheader" value="{{subheader}}">
    {{else}}
    {{subheader}}
    {{/if}}
  </div>
  {{/if}}

  {{#if options.length}}
  <div class="turf-header-options">
    {{#each options as |option|}}
    {{#unless @first}}<span class="turf-header-option-sep">—</span>{{/unless}}
    <span class="turf-header-option {{#if (includes ../selected option)}}selected{{/if}}"
      data-header-id="{{../../header_id}}" data-option="{{option}}">{{option}}</span>
    {{/each}}
  </div>
  {{/if}}

  {{#if units}}
  <div class="turf-header-units" data-header-id="{{../header_id}}" data-units-filled="{{units_filled}}">
    <span class="turf-header-units-label">UNITS</span>
    <div class="turf-header-units-dots">
      {{#times_from_1 units}}
      <span class="turf-header-unit {{#if (lteq this ../units_filled)}}filled{{/if}}"
        data-header-id="{{../../header_id}}" data-unit-index="{{this}}"></span>
      {{/times_from_1}}
    </div>
  </div>
  {{/if}}
</div>
{{/with}}
{{/if}}
{{/inline}}
<div class="{{cssClass}}" data-application-part="body">
  <header class="sheet-header">
      <img src="{{img}}" data-edit="img" title="{{name}}"/>
      <div class="header-fields">
          <h1 class="charname"><input name="name" type="text" value="{{name}}" placeholder="{{localize 'BITD.Name'}}"/></h1>
      </div>
  </header>

  <section class="flex-vertical">
    <label class="label-stripe">{{localize "BITD.Description"}}</label>
    {{editor system.description target="system.description" button=true editable=editable}}
    <label class="label-stripe">{{localize "BITD.ExpClues"}}</label>
    {{editor system.experience_clues target="system.experience_clues" button=true editable=editable}}

    <label class="label-stripe">{{localize "BITD.Turf"}}</label>
    <div id="turf-container">
      <div id="crew-{{_id}}-turf-list" class="turf-list {{#if can_edit}}section-editable{{else}}section-non-editable{{/if}}">

        {{#if not_prison}}
        {{#if turf_headers}}
        {{> turfHeader header=(lookup turf_headers "1") header_id="1" can_edit=can_edit}}
        {{/if}}
        {{/if}}

        <div class="turf-row">
         {{#each turfs_data as |turf id|}}

          <div
            class="turf-block {{#if (or turf.value (is_base_turf turf.name))}}turf-selected{{/if}} {{#if turf.highlight}}turf-highlight{{/if}} {{#if (is_base_turf turf.name)}}turf-base{{/if}}"
            data-turf-id="{{id}}" data-turf-status="{{turf.value}}">

              {{#each turf.connects as |connect key|}}

                {{#is_turf_side key}}
                  {{#if connect}}
                  <div class="connector {{key}}"></div>
                  {{/if}}
                {{else}}
                  <div class="connector {{connect}}"></div>
                {{/is_turf_side}}

              {{/each}}

              {{#if ../can_edit}}
                {{#unless (is_base_turf turf.name)}}
                <input class="name-box" type="checkbox" data-dType="Boolean" name="system.turfs.{{id}}.value" {{checked turf.value}}>
                {{/unless}}

                <div>
                  {{#multiboxes turf.connects}}
                  <input type="checkbox" data-dType="Boolean" name="system.turfs.{{id}}.connects.left" class="fa-solid fa-arrow-left" {{checked turf.connects.left}}>
					<input type="checkbox" data-dType="Boolean" name="system.turfs.{{id}}.connects.top" class="fa-solid fa-arrow-up" {{checked turf.connects.top }}>
                  <input type="checkbox" data-dType="Boolean" name="system.turfs.{{id}}.connects.right" class="fa-solid fa-arrow-right" {{checked turf.connects.right}}>
                  <input type="checkbox" data-dType="Boolean" name="system.turfs.{{id}}.connects.bottom" class="fa-solid fa-arrow-down" {{checked turf.connects.bottom}}>
                  {{/multiboxes}}
                </div>

				<input class="turf-name" type="text" name="system.turfs.{{id}}.name" value="{{#if ../editable}}{{turf.name}}{{else}}{{localize turf.name}}{{/if}}">
                {{#noteq turf.name "BITD.Turf"}}
                {{#noteq turf.name "BITD.Lair"}}
				<textarea class="turf-description" name="system.turfs.{{id}}.description">{{localize turf.description}}</textarea>
                {{/noteq}}
                {{/noteq}}
              {{else}}
                <p class="turf-name">{{localize turf.name}}</p>
                {{#if turf.description}}
                <p class="turf-description">{{{localize turf.description}}}</p>
                {{/if}}
              {{/if}}
          </div>
      	  {{#if ../not_prison}}
          {{#if (eq id "5")}}
          </div>
          {{#if ../turf_headers}}
          {{> turfHeader header=(lookup ../turf_headers "2") header_id="2" can_edit=../can_edit}}
          {{/if}}
          <div class="turf-row">
          {{/if}}
      	  {{else}}
          {{#if (eq id "3")}}
          </div><div class="turf-row">
          {{/if}}
      	  {{/if}}
      	  {{#if ../not_prison}}
          {{#if (eq id "10")}}
          </div>
          {{#if ../turf_headers}}
          {{> turfHeader header=(lookup ../turf_headers "3") header_id="3" can_edit=../can_edit}}
          {{/if}}
          <div class="turf-row">
          {{/if}}
          {{#if (eq id "15")}}
          </div>
          {{#if ../turf_headers}}
          {{> turfHeader header=(lookup ../turf_headers "4") header_id="4" can_edit=../can_edit}}
          {{/if}}
          <div class="turf-row">
            {{/if}}
      	  {{else}}
          {{#if (eq id "6")}}
          </div><div class="turf-row">
          {{/if}}
      	  {{/if}}
          {{/each}}
        </div>
      </div>
    </div>
	{{#if isGM}}
	<div class="label-stripe">{{localize "BITD.Effects"}}</div>
    <div id="effects">
      <table class="items-list effects-list">
      {{#each effects as |section sid|}}
        <thead>
          <tr class="name-stripe-gray flex-horizontal" data-effect-type="{{section.type}}">
              <th width="40%" class="item-name effect-name flex-horizontal">{{localize section.name}}</th>
              <th width="20%" class="effect-source">Source</th>
              <th width="20%" class="effect-source">Duration</th>
              <th width="20%" class="item-control effect-control right">
                  <a class="effect-control" data-action="bid.itemEffectControl" data-effect-action="create" data-tooltip="{{localize 'BITD.EffectCreate'}}">
                      <i class="fas fa-plus"></i> {{localize "BITD.Add"}}
                  </a>
              </th>
          </tr>
        </thead>
        <tbody class="item-list">
          {{#each section.effects as |effect|}}
              <tr class="item effect flex-horizontal" data-effect-id="{{effect.id}}">
                  <td width="40%" class="effect-name flex">
                      <img class="item-image" src="{{effect.img}}" width="24" height="24"/>
                      <h4>{{effect.name}}</h4>
                  </td>
                  <td width="20%" class="effect-source center">{{effect.sourceName}}</td>
                  <td width="20%" class="effect-duration center">{{effect.duration.name}}</td>
                  <td width="20%"><div class="item-controls effect-controls flex">
                      <a class="effect-control" data-action="bid.itemEffectControl" data-effect-action="toggle" data-tooltip="{{localize 'BITD.EffectToggle'}}">
                          <i class="fas {{#if effect.disabled}}fa-check{{else}}fa-times{{/if}}"></i>
                      </a>
                      <a class="effect-control" data-action="bid.itemEffectControl" data-effect-action="edit" data-tooltip="{{localize 'BITD.EffectEdit'}}">
                          <i class="fas fa-edit"></i>
                      </a>
                      <a class="effect-control" data-action="bid.itemEffectControl" data-effect-action="delete" data-tooltip="{{localize 'BITD.EffectDelete'}}">
                          <i class="fas fa-trash"></i>
                      </a>
                  </div></td>
              </tr>
          {{/each}}
          </tbody>
      {{/each}}
      </table>
    </div>
	{{/if}}
  </section>
</div>
