<div class="{{cssClass}}" data-application-part="body">
  <header class="sheet-header">
      <img src="{{img}}" data-edit="img" title="{{name}}"/>
      <div class="header-fields">
          <h1 class="charname"><input name="name" type="text" value="{{name}}" placeholder="{{localize 'BITD.Faction'}}"/></h1>
      </div>
  </header>

  <section class="flex-vertical">
	<label class="label-stripe">{{localize "BITD.Description"}}</label>
    <textarea rows="2" name="system.description">{{system.description}}</textarea>
	<label class="label-stripe">{{localize "BITD.FactionType"}}</label>
    <textarea rows="1" name="system.type">{{system.type}}</textarea>
	<label class="label-stripe">{{localize "BITD.Tier"}}</label>
    <textarea rows="1" name="system.tier">{{system.tier}}</textarea>
	<label class="label-stripe">{{localize "BITD.Notes"}}</label>
    <textarea rows="2" name="system.notes">{{system.notes}}</textarea>

    {{#if isGM }}
        <label class="label-stripe">{{localize "BITD.Goal"}}</label>

        <div class="flex-vertical clock-block" id="faction-goal-clock">
          <div class="clocks clocks-{{system.goal_1_clock_max}} small" id="faction-clock-1">
            <div id="blades-clock-{{_id}}-1" class="blades-clock clock-{{system.goal_1_clock_max}} clock-{{system.goal_1_clock_max}}-{{system.goal_1_clock_value}}" style="background-image:url('{{goalClock1Img}}');">
              <label class="clock-zero-label" for="{{goalClock1.zeroId}}"><i class="fab fa-creative-commons-zero nullifier"></i></label>
              <input type="radio" value="0" id="{{goalClock1.zeroId}}" data-dtype="String" name="system.goal_1_clock_value" {{#if goalClock1.zeroChecked}}checked{{/if}}>
              {{#each goalClock1.dots as |dot|}}
              <input type="radio" value="{{dot.v}}" id="{{dot.id}}" data-dtype="String" name="system.goal_1_clock_value" {{#if dot.checked}}checked{{/if}}>
              <label class="radio-toggle" data-action="bid.radioToggle" for="{{dot.id}}"></label>
              {{/each}}
            </div>
          </div>
          <div id="clock-max-1">
            <select id="max-1" name="system.goal_1_clock_max">
              {{{size_list_1}}}
            </select>
          </div>
          <textarea rows="1" name="system.goal_1">{{system.goal_1}}</textarea>

          <div class="clocks clocks-{{system.goal_2_clock_max}} small" id="faction-clock-2">
            <div id="blades-clock-{{_id}}-2" class="blades-clock clock-{{system.goal_2_clock_max}} clock-{{system.goal_2_clock_max}}-{{system.goal_2_clock_value}}" style="background-image:url('{{goalClock2Img}}');">
              <label class="clock-zero-label" for="{{goalClock2.zeroId}}"><i class="fab fa-creative-commons-zero nullifier"></i></label>
              <input type="radio" value="0" id="{{goalClock2.zeroId}}" data-dtype="String" name="system.goal_2_clock_value" {{#if goalClock2.zeroChecked}}checked{{/if}}>
              {{#each goalClock2.dots as |dot|}}
              <input type="radio" value="{{dot.v}}" id="{{dot.id}}" data-dtype="String" name="system.goal_2_clock_value" {{#if dot.checked}}checked{{/if}}>
              <label class="radio-toggle" data-action="bid.radioToggle" for="{{dot.id}}"></label>
              {{/each}}
            </div>
          </div>
          <div id="clock-max-2">
            <select id="max-2" name="system.goal_2_clock_max">
              {{{size_list_2}}}
            </select>
		  </div>
          <textarea rows="1" name="system.goal_2">{{system.goal_2}}</textarea>

        </div>
        <label class="label-stripe">{{localize "BITD.NotableNPCs"}}</label>
        <textarea rows="10" name="system.notables">{{system.notables}}</textarea>
        <label class="label-stripe">{{localize "BITD.Turf"}}</label>
        <textarea rows="2" name="system.turf">{{system.turf}}</textarea>
        <label class="label-stripe">{{localize "BITD.Assets"}}</label>
        <textarea rows="1" name="system.assets">{{system.assets}}</textarea>
        <label class="label-stripe">{{localize "BITD.Quirks"}}</label>
        <textarea rows="1" name="system.quirks">{{system.quirks}}</textarea>
        <label class="label-stripe">{{localize "BITD.Allies"}}</label>
        <textarea rows="1" name="system.allies">{{system.allies}}</textarea>
        <label class="label-stripe">{{localize "BITD.Enemies"}}</label>
        <textarea rows="1" name="system.enemies">{{system.enemies}}</textarea>
        <label class="label-stripe">{{localize "BITD.Situation"}}</label>
        <textarea rows="10" name="system.situation">{{system.situation}}</textarea>
    {{/if}}
  </section>

</div>
