$coin_width: 15px;
$coin_height: 20px;
$coin_margin: 3px;

@mixin coin_stacks {
  @include image_multibox($coin_width, $coin_height, "assets/blades68/stack_filled.webp", "assets/blades68/stack_empty.webp", $coin_margin);
}

.coins {
  @include coin_stacks;

  &.coins-hands {
    width: 36px;
  }

  &.coins-stashed {
    width: 190px;
  
}
}
